<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <context:annotation-config />
    <context:component-scan base-package="edu.sjsu.cmpe275.lab1"/>
    <aop:aspectj-autoproxy />

    <bean id="secretService" class="edu.sjsu.cmpe275.lab1.ConcreteSecretService" />
    <bean id="secretStorage" class="edu.sjsu.cmpe275.lab1.SecretStorage" />
    <!-- Aspect -->
    <bean id="logAspect" class="edu.sjsu.cmpe275.lab1.SecretLoggingAspect" />
    <bean id="authAspect" class="edu.sjsu.cmpe275.lab1.SecretAuthAspect" />

</beans>